*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Font size quote 28px */

:root {
  /* Primary Colors */
  --lightcyan: hsl(193, 38%, 86%);
  --neongreen: hsl(150, 100%, 66%);

  /* Neutral colors */
  --grayblue: hsl(217, 19%, 38%);
  --dkgrayblue: hsl(217, 19%, 24%);
  --darkblue: hsl(218, 23%, 16%);
}

body {
  margin: 0;
  background: var(--darkblue);
  font-family: "Manrope", sans-serif;
  color: var(--lightcyan);
}

.container {
  width: 95%;
  max-width: 550px;
  margin: 25vh auto;
  text-align: center;
  border-radius: 15px;
  background: var(--dkgrayblue);
  padding: 30px 10px;
  position: relative;
}

.main--title {
  font-size: 0.8rem;
  color: var(--neongreen);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

blockquote {
  font-size: 1.75rem;
}

.divider--img {
  padding: 10px 0 25px;
  /* background-image: url("./images/pattern-divider-desktop.svg");
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.btn--advice {
  position: absolute;
  left: 247px;
  border: 0;
  padding: 18px;
  background: var(--neongreen);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.btn--advice:hover {
  box-shadow: 2px 3px 25px var(--neongreen);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 580px) {
  .btn--advice {
    left: 43%;
  }
  .container {
    width: 95%;
    margin: 20vh auto;
  }
}
